<div class="row">
    <div class="col-md-12">
        <div class="main">
            <div class="form">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <ng-container *ngIf="!alreadyHaveAc">
                            <h2 class="mb-4">Sign Up</h2>
                            <hr>
                            <form class="mb-4" #signupForm="ngForm" (ngSubmit)="onSignUpFormSubmit(signupForm)">


                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter your Email</mat-label>
                                    <input matInput placeholder="Placeholder" title="please fill " ngModel name="email"
                                        required #Email>
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter your password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" ngModel name="password" required
                                        #password placeholder="Password">
                                    <button mat-icon-button [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hide" matSuffix type="button">
                                        <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' :
                                            'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter Confirm password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" ngModel name="password" required
                                        #password placeholder="Password">
                                    <button mat-icon-button [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hide" matSuffix type="button">
                                        <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' :
                                            'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <button class=" w-100" mat-raised-button color="primary"
                                    (click)="Onsignup(Email, password)">Sign Up</button>
                            </form>

                            <a (click)="alreadyHaveAc = !alreadyHaveAc">Already! Have Account ?</a>
                        </ng-container>

                        <ng-container *ngIf=" alreadyHaveAc">
                            <h2 class="mb-4">Log In</h2>
                            <hr>
                            <form class="mb-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter your Email</mat-label>
                                    <input matInput placeholder="Placeholder" ngModel name="email" required #lEmail>
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter your password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" ngModel name="password" required
                                        #lpassword placeholder="Password">
                                    <button mat-icon-button [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hide" matSuffix type="button">
                                        <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' :
                                            'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <button class=" w-100" mat-raised-button color="primary"
                                    (click)="Onlogin(lEmail, lpassword)">Login</button>
                            </form>

                            <a (click)="alreadyHaveAc = !alreadyHaveAc">Create New Account!</a>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>